.container{
    padding: 20px;
    background-color: #53c28b;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
    color: white;
  }

  @media (max-width: 820px) {
    
    .container{
      padding: 10px;
    }
  }