.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0px 0px 0px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 700px) {
    .container{
        height: 100px;
        display: block;
        justify-content: left;
        
        /* align-items: center; */
    }
    
    .logo{
        font-weight: bold;
        font-size: 16px;
        align-items: center;
    }
    
    .links{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
  }