.container{
    height: 50px;
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: space-between;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 820px) {
    .container{
        height: 50px;
        display: flex;
        flex-direction: row;
        font-size: small;
        align-items: center;
        justify-content: center;
    }
    
  }